.classunit_info,
.classtag_info{
  @extend .col_md_6_12;
  display: inline-block;
  position: relative;
}
.classunit_info{
  margin-left: -1em;
  vertical-align: top;
}
.classinfoTag{
  margin-bottom: 0.4em;
}
.add_classinfo_form{
  margin-top: 3em;
}
.classtag_info{
  dt{
    position: relative;
  }
  input[type="checkbox"]{
    position: absolute;
    right: 100%;
    margin-top: 0.2em;
    margin-right: 0.5em;
  }
}