.hidden{
  display : none !important;
  visibility: hidden !important;
}
.spinned_cw{
  transform:rotate(-180deg);
}
.spinned_acw{
  transform:rotate(-180deg);
}
.remarkable{
  font-size: 1.1em;
  font-weight:600;
}
.extra_info{
  font-size: 0.8em;
  opacity: 0.8;
}