.hidden{
  display : none !important;
  visibility: hidden !important;
}
.icon-keyboard_arrow_down{
  will-change:transform;
  display: inline-block;
}
.spinned_cw{
  transform:rotate(-180deg);
}
.spinned_acw{
  transform:rotate(-180deg);
}
.remarkable{
  font-size: 1.1em;
  font-weight:600;
}
.extra_info{
  line-height: 1.25em;
  font-size: 0.8em;
  opacity: 0.8;
}
.constrained_width{
  max-width: (map-get($break-points,md) - 30px);
}
.text_right{
  float: right;
  margin-right: 0.1em;
}
.block_right{
  position: absolute;
  right: 0;
}
.block_top{
  position: absolute;
  top: 0;
}
%clearfix,
.clearfix{
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}
%column_container{
  margin-left: -1*$column_gap;
  margin-right: -1*$column_gap;
}

.regular_dl{
  dt{
    font-size: 0.95em;
    font-weight: 400;
    margin-bottom: 0.1em;
    color: $color_4;
  }
  dd{
    font-weight: 300;
    margin-bottom: 0.8em;
  }
  @media (min-width: em(map-get($break-points,md)+1)){
    @extend .constrained_width;
    display: flex;
    flex-wrap:wrap;
    dt{
      flex-basis:15%;
    }
    dd{
      flex-basis:85%;
    }
  }
}