$color_1: #00695C;
$color_2: #00897B;
$color_3: #009688;
$color_4: #4DB6AC;
$color_5: #80CBC4;

$color_accent_1: #FF8F00;
$color_accent_2: #FFB300;
$color_accent_3: #FFC107;
$color_accent_4: #FFD54F;
$color_accent_5: #FFE082;

$red_alert:#D32F2F;
$polite_black: #333;
$polite_white: #F2F2F2;

$font_family_main: "Open Sans", Arial, Helvetica, sans-serif;

$break-points:(
  'xs' : 0,
  'md' : 600,
  'lg' : 1024
);

$base_font_size : 16;
$column_gap:1em;