$color_1: #31262A;
$color_2: #12838B;
$color_3: #2699A1;
$color_4: #3CB3B9;
$color_5: #B6E7E1;
$red_alert:#D32F2F;

$font_family_main: "Open Sans", Arial, Helvetica, sans-serif;

$break-points:(
  'xs' : 0,
  'md' : 600,
  'lg' : 1024
);

$base_font_size : 16;
$column_gap:1em;