@import 'reset';
@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'utils';
@import 'forms';

@import 'components/main-nav';
@import 'components/collapsible-table';
@import 'components/dropable-list';
@import 'components/plain-list';
@import 'components/time-table';
@import 'components/time-table-classunit';

@import 'class-info';

body{
  font-family: $font_family_main;
}
#main_header{
  background: $color_3;
  padding: 1.5em 1.5em 0.5em;
  border-top: 10px solid $color_2;
  h1{
    color: white;
    text-shadow: 1px 1px 0 $color_3;
    font-size: 1.8em;
    padding-bottom: 0.3em;
  }
}
#teacher_agenda{
  .template_header{
    padding: 2em 2em 1em;
    position: relative;
    h1{
      font-size: 1.5em;
      font-weight: 700;
      color:$color_2;
      margin-bottom: 0.5em;
    }
    .btn{
      margin-bottom: 0.5em;
    }
  }
  >h2{
    font-size: 1.1em;
    font-weight: 600;
    color:$color_4;
    padding:0 1.8em 1em;
  }
  .collapsible_table{
    margin: 0 auto;
  }
  padding-bottom: 5em;
}
.main_container{
  padding: 0 2em;
}

@include get_columns(12);