<div class="template_header">
  <h1>Centers</h1>
  {{#link-to "add-center" class="btn primary"}}Add center <span class="icon-add_circle"></span>{{/link-to}}
</div>
{{center-list centers=model}}
{{outlet}}