<div class="template_header">
  <h1>Classes</h1>
</div>
{{class-list classunits_by_day=modelsad}}

{{#each model as |day key|}}
<p>{{day.center.name}}</p>
{{/each}}
<br>
{{#each model.tue as |day key|}}
<p>{{day}}</p>
{{/each}}
<br>
{{outlet}}